@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap");
body {
  font-family: "El Messiri", sans-serif;
  background-color: #277bc0;
  height: 4000px;
}

.container {
  width: 1024px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.preloader {
  position: fixed;
  background: #277bc0 url("/imgs/Spinner-0.9s-200px.gif") no-repeat center;
  height: 100vh;
  width: 100%;
  z-index: 1000;
}

header {
  height: 100px;
}
header nav {
  background-color: #FFF4CF;
  display: flex;
  justify-content: space-between;
}
header nav .logo {
  margin-right: 70px;
  margin-top: 2px;
  cursor: pointer;
}
header nav .logo a {
  color: #277BC0;
  font-size: 30px;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}
header nav .logo a:hover {
  color: #FFB200;
}
header nav .nav-links {
  margin-left: 70px;
}
header nav .nav-links ul {
  display: flex;
}
header nav .nav-links ul li {
  margin: 10px 10px;
  font-size: 20px;
}
header nav .nav-links ul li a {
  color: #277BC0;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
header nav .nav-links ul li a:hover {
  color: #FFB200;
}

@media (min-width: 770px) {
  .toggle {
    display: none;
  }
  .side-bar {
    display: none;
  }
}
@media (max-width: 768px) {
  header nav .logo {
    margin-right: 20px;
  }
  header nav .nav-links ul {
    display: none;
  }
  header nav .toggle {
    display: block;
    font-size: 30px;
    position: absolute;
    left: 20px;
    margin-top: 5px;
    cursor: pointer;
  }
  header nav .toggle i {
    color: #277BC0;
  }
  header .side-bar {
    width: 100%;
    background-color: #FFF4CF;
    height: 700px;
    display: none;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    z-index: 9999;
  }
  header .side-bar ul {
    margin-top: 30px;
    margin-right: 20px;
  }
  header .side-bar ul li {
    font-size: 25px;
    margin-bottom: 10px;
  }
  header .side-bar ul li a {
    color: #277BC0;
    font-weight: 500;
    cursor: pointer;
  }
  header .display {
    display: flex !important;
    z-index: 100;
  }
}
.landing {
  display: flex;
  flex-direction: row;
  margin-right: 70px;
  z-index: 1;
}
.landing .left-content {
  width: 45%;
  margin-top: 20px;
}
.landing .left-content h1 {
  color: #FFCB42;
  font-size: 60px;
}
.landing .left-content p {
  margin-top: 50px;
  line-height: 1.8;
  color: #FFF4CF;
  font-size: 25px;
}
.landing .right-content {
  background-color: #FFF4CF;
  width: 40%;
  position: relative;
  right: 150px;
}
.landing .right-content .image {
  position: relative;
  top: 10px;
  left: 0px;
  width: 500px;
}
.landing .right-content .image img {
  width: 500px;
}

@media (max-width: 768px) {
  .landing {
    flex-direction: column;
  }
  .landing .left-content {
    width: 100%;
  }
  .landing .left-content h1 {
    font-size: 30px;
  }
  .landing .left-content p {
    font-size: 25px;
  }
  .landing .right-content {
    width: 100%;
    right: 0;
    left: 50px;
  }
  .landing .right-content .image {
    width: 250px;
    left: 0;
  }
  .landing .right-content .image img {
    width: 250px;
  }
}/*# sourceMappingURL=style.css.map */